---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot363709621:AAELQQ8LLzdTIGwKo5yRbx_vJTlHUZJTixQ/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=145386813&text=hello
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":43,"from":{"id":363709621,"first_name":"KalashnikovBot","username":"kalashnikovvv_bot"},"chat":{"id":145386813,"first_name":"\u0410\u043b\u0435\u043a\u0441\u0430\u043d\u0434\u0440","type":"private"},"date":1493151667,"text":"hello"}}'
  recorded_at: Tue, 25 Apr 2017 20:21:07 GMT
recorded_with: VCR 3.0.3
