default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password:

development:
  <<: *default
  database: instant_messaging

test:
  <<: *default
  database: instant_messaging_test

production:
  <<: *default
  database: instant_messaging
